{% extends 'layouts/base.html' %}

{% load i18n %}

{% load static %}

{% block content %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">{% trans 'Home' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="frequently-area pt-60 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="frequently-content">
                        <div class="frequently-desc">
                            <h3>{% trans 'Below are frequently asked questions, you may find the answer for yourself' %}</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Donec id erat sagittis, faucibus metus malesuada,
                                eleifend turpis. Mauris semper augue id nisl aliquet, a
                                porta lectus mattis. Nulla at tortor augue. In eget enim diam.
                                Donec gravida tortor sem, ac fermentum nibh rutrum sit amet.
                                Nulla convallis mauris vitae congue consequat. Donec interdum nunc
                                purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.
                            </p>
                        </div>
                    </div>
                    <div class="frequently-accordion">
                        <div id="accordion">
                            {% for faq in object_list %}
                                <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">
                                            {{ faq.title }}
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {{ faq.description }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







