{% extends 'layouts/base.html' %}

{% load static %}

{% load i18n %}

{% block content %}
    <div class="slider-with-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="slider-area">
                        <div class="slider-active owl-carousel">
                            <div class="single-slide align-center-left  animation-style-01 bg-1">
                                <div class="slider-progress"></div>
                                <div class="slider-content">
                                    <h5>{% trans 'Sale Offer' %}<span>-20% Off</span>{% trans ' This Week' %}</h5>
                                    <h2>Samsung Galaxy S9 | S9+</h2>
                                    <h3>{% trans 'Starting at ' %}<span>$1209.00</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="shop-left-sidebar.html">{% trans 'Shopping Now' %}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide align-center-left animation-style-02 bg-2">
                                <div class="slider-progress"></div>
                                <div class="slider-content">
                                    <h5>{% trans 'Sale Offer ' %}<span>{% trans 'On Friday' %}</span>{% trans ' This Week' %}</h5>
                                    <h2>Work Desk Surface Studio 2018</h2>
                                    <h3>{% trans 'Starting at ' %}<span>$824.00</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="shop-left-sidebar.html">{% trans 'Shopping Now' %}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide align-center-left animation-style-01 bg-3">
                                <div class="slider-progress"></div>
                                <div class="slider-content">
                                    <h5>{% trans 'Sale Offer ' %}<span>-10% Off</span>{% trans ' This Week' %}</h5>
                                    <h2>Phantom 4 Pro+ Obsidian</h2>
                                    <h3>{% trans 'Starting at ' %}<span>$1849.00</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="shop-left-sidebar.html">{% trans 'Shopping Now' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="li-banner">
                        <a href="#">
                            <img src="{% static 'images/banner/1_1.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                        <a href="#">
                            <img src="{% static 'images/banner/1_2.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-area pt-60 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-product-tab">
                        <ul class="nav li-product-menu">
                            <li><a class="active" data-toggle="tab" href="#li-new-product"><span>{% trans 'Shop' %}</span></a>
                            </li>
                            <li><a data-toggle="tab" href="#li-bestseller-product"><span>{% trans 'Watch' %}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                    <div class="row">
                        <div class="product-active owl-carousel">
                            {% for i in shop %}
                                <div class="col-lg-12">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img src="{{ i.image.url }}"
                                                     alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="shop-left-sidebar.html">Mikro Market</a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h4><a class="product_name"
                                                       href="{% url 'shop:detail-view' pk=i.pk %}">{{ i.title }}</a>
                                                </h4>
                                                <div class="price-box">
                                                    <span class="new-price">${{ i.price }}</span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active"><a href="#">{% trans 'Add to cart' %}</a></li>
                                                    <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></li>
                                                    <li><a href="#" title="quick view" class="quick-view-btn"
                                                           data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="li-bestseller-product" class="tab-pane" role="tabpanel">
                    <div class="row">
                        <div class="product-active owl-carousel">
                            {% for i in watch %}
                                <div class="col-lg-12">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img src="{{ i.image.url }}"
                                                     alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="shop-left-sidebar.html">Mikro Market</a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h4><a class="product_name"
                                                       href="{% url 'watch:watch-view' pk=i.pk %}">{{ i.title }}</a>
                                                </h4>
                                                <div class="price-box">
                                                    <span class="new-price">${{ i.price }}</span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active"><a href="#">{% trans 'Add to cart' %}</a></li>
                                                    <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></li>
                                                    <li><a href="#" title="quick view" class="quick-view-btn"
                                                           data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="li-static-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'images/banner/1_3.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'images/banner/1_4.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                    <div class="single-banner">
                        <a href="#">
                            <img src="{% static 'images/banner/1_5.jpg' %}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product-area li-laptop-product pt-60 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-section-title">
                        <h2>
                            <span>{% trans 'Mobile Phone' %}</span>
                        </h2>
                        <ul class="li-sub-category-list">
                            <li class="active"><a href="shop-left-sidebar.html">{% trans 'Prime Video' %}</a></li>
                            <li><a href="shop-left-sidebar.html">{% trans 'Computers' %}</a></li>
                            <li><a href="shop-left-sidebar.html">{% trans 'Electronics' %}</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="product-active owl-carousel">
                            {% for phone in mobile %}
                                <div class="col-lg-12">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img src="{{ phone.image.url }}"
                                                     alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="shop-left-sidebar.html">Mikro Market</a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h4><a class="product_name"
                                                       href="{% url 'mobile:mobile-view' pk=phone.pk %}">{{ phone.title }}</a>
                                                </h4>
                                                <div class="price-box">
                                                    <span class="new-price">${{ phone.price }}</span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active"><a href="#">{% trans 'Add to cart' %}</a></li>
                                                    <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></li>
                                                    <li><a href="#" title="quick view" class="quick-view-btn"
                                                           data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-area li-laptop-product li-tv-audio-product pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-section-title">
                        <h2>
                            <span>Blog</span>
                        </h2>
                        <ul class="li-sub-category-list">
                            <li class="active"><a href="shop-left-sidebar.html">{% trans 'Gaming' %}</a></li>
                            <li><a href="shop-left-sidebar.html">{% trans 'Mobile Phones' %}</a></li>
                            <li><a href="shop-left-sidebar.html">{% trans 'E-sports' %}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="row li-main-content">
                            {% for blog in blog %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="li-blog-single-item pb-25">
                                        <div class="li-blog-banner">
                                            <a href="{{ blog.video.url }}">
                                                <video class="img-full"
                                                       src="{{ blog.video.url }}" type="video/mp4"></video>
                                            </a>
                                        </div>
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-25">
                                                    <a href="{% url 'blog:blog-detail' pk=blog.pk %}">{{ blog.title }}</a>
                                                </h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i
                                                            class="fa fa-user"></i>{{ blog.author }}
                                                    </a>

                                                    <a class="post-time" href="#"><i
                                                            class="fa fa-calendar"></i>{{ blog.created|date:'d.m.Y' }}
                                                    </a>
                                                </div>
                                                <a class="read-more" href="{% url 'blog:blog-detail' pk=blog.pk %}">
                                                    <strong style="color: #00a9da">{% trans 'Read More' %}</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="li-static-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-static-home-image"></div>
                    <div class="li-static-home-content">
                        <p>{% trans 'Sale Offer' %}<span>-20% Off</span>{% trans 'This Week' %}</p>
                        <h2>{% trans 'Featured Product' %}</h2>
                        <h2>{% trans 'Best Accessories' %} 2018</h2>
                        <p class="schedule">
                            {% trans 'Starting at' %}
                            <span> $1209.00</span>
                        </p>
                        <div class="default-btn">
                            <a href="shop-left-sidebar.html" class="links">{% trans 'Shopping Now' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product-area li-trending-product pt-60 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-product-tab li-trending-product-tab">
                        <h2>
                            <span>{% trans 'Our Team' %}</span>
                        </h2>
                        <ul class="nav li-product-menu li-trending-product-menu">
                            <li><a class="active" data-toggle="tab" href="#home1"><span>{% trans 'Products' %}</span></a></li>
                        </ul>
                    </div>
                    <div class="tab-content li-tab-content li-trending-product-content">
                        <div id="home1" class="tab-pane show fade in active">
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for i in teams %}
                                        <div class="col-lg-12">
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="single-product.html">
                                                        <img src="{{ i.image.url }}"
                                                             alt="Li's Product Image">
                                                    </a>
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a href="shop-left-sidebar.html">{{ i.job }}</a>
                                                            </h5>
                                                        </div>
                                                        <h4><a class="product_name"
                                                               href="single-product.html">{{ i.name }}</a>
                                                        </h4>
                                                        <div class="price-box">
                                                            <span class="new-price">{{ i.email }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
